<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Portfolio Overview</title>
        <link href="{{ url_for('static', filename='/stylesheets/minimal-table.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='/stylesheets/layout.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="box">
            <div class="status glass-morphism">
                <h1>Status</h1>
                <table>
                    <thead>
                        <tr>
                            {% for col in cols %}
                                <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                        <tr>
                            {% for el, col_type in zip(row, col_type) %}
                                {% if col_type == 'row_header' %}
                                    <th scope="row">{{ el }}</th>
                                {% elif col_type == 'usd' %}
                                    <td class="usd">{{ el }}</td>
                                {% elif col_type == 'int' %}
                                    <td class="int">{{ el }}</td>
                                {% else %}
                                    <td>{{ el }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row" colspan="3">Cash</th>
                            <td class="usd">{{ cash }}</td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="3">Total</th>
                            <td class="usd">{{ total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="action glass-morphism">
                <h1>Action</h1>
                <div class="transaction glass-morphism">
                    <h2>Transaction</h2>
                    <div>
                        <h3>Transaction Type</h3>
                        <input type="radio" name="transaction" id="buy">
                        <label for="buy">Buy</label>
                        <input type="radio" name="transaction" id="sell">
                        <label for="sell">Sell</label>
                    </div>
                    <div>
                        <h3>Ticker: </h3>
                        <input type="search" id="ticker">
                    </div>
                    <div>
                        <h3>Shares</h3>
                        <input type="number" id="shares">
                    </div>
                    <div>
                        <h3>Price Per Share</h3>
                        <input type="number" id="price-per-share">
                    </div>
                    <div>
                        <h3>Commision</h3>
                        <input type="number" id="commission">
                    </div>
                    <div>
                        <input type="submit" onclick="applyTransaction()">
                    </div>
                </div>
                <div class="deposit-withdrawal glass-morphism">
                    <h2>Diposit or Withdrawal</h2>
                    <div>
                        <h3>Transaction Type</h3>
                        <input type="radio" name="transaction" id="deposit">
                        <label for="deposit">Deposit</label>
                        <input type="radio" name="transaction" id="withdrawal">
                        <label for="withdrawal">Withdrawal</label>
                    </div>
                    <div>
                        <h3>Amount</h3>
                        <input type="number" id="amount">
                    </div>
                    <div>
                        <input type="submit" onclick="applyCashInOut()">
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='/script/number-formatter.js') }}"></script>
        <script src="{{ url_for('static', filename='/script/transaction.js') }}"></script>
    </body>
</html>
