body {
    background: #f0e68c;
}
.glass-morphism {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 8px 12px;
    margin: 10px;
}
.box {
    display: flex;
}
.status {
    flex: 1.616 1 auto;
}
.action {
    flex: 1 1 auto;
}